Options All -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule . /App/index.php [L]

<Files "*.tpl">
	Order Deny,Allow
	Deny from all
</Files>